* {
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    transition-duration: .4s;
    scroll-padding: 0rem;
}

body {
    width: 100%;
    min-height: 100vh;
}



a {
    text-decoration: none;
    color: rgb(247, 248, 248);
}

.mainSectionSize {
    min-height: 900px;
    padding: 100px 15vw;
    background-color: rgb(17, 17, 17);
}


#navcontainer {
    position: relative;
    right: 0.5%;
    display: flex; 
    flex-direction: row;
}

#navcontainer > topnav {
    background: #314CBC;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    border-radius: 8px;
    width: 120px;
    margin: 15px;
    font-family: 'Bricolage Grotesque', sans-serif;
    
    cursor: pointer;   
    transition: transform 0.3s;
}


.topBTN {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topBTN:hover {
    background-color: #e7ebf7;
}

.GithubPhoto {
    height: 35px;
    width: 35px;
    margin-left: 20px;
    margin-top: 15px;
    background-color: rgb(17, 17, 17);
}

.LinkdnPhoto {
    height: 35px;
    width: 45px;
    margin-left: 20px;
    margin-top: 15px;
    background-color: rgb(17, 17, 17);
}

.topBar {
    background-color: rgb(17, 17, 17);
}

#herosection > h1 {
    color: aliceblue;
    font-size: 128px;
    font-family: 'Bricolage Grotesque', sans-serif;
    margin-top: 80px;
}

#herosection > h2 {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -135px;
}

#aboutMe > h1 {
    color: aliceblue;
    font-size: 64px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

#aboutMe > p {
    color: aliceblue;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.timer {
    position: absolute;
    color: aliceblue;
    font-family: 'Bricolage Grotesque', sans-serif;
    right: 15%;
    top: 20%;
    font-size: 75px;

}
